.wrapper {
    height: 100%;
    background: rgb(0,150,136,1);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(219,219,211,1) 20%); 
}


.contenitore {
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
}

.aside {
    width: 30%;
}

.messages {
    width: 70%;
}

.aside_header,.messages_header {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.aside_header {
    border-right: 1px solid #b1b1b1;
}

.aside_header_utent, .aside_header_icons,
.messages_header_utent,.messages_header_icons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
img {
    width: 75px;
    border-radius: 50%;
}
.aside_header_icons,.messages_header_icons > i {
    color: #b1b1b1;
}
.messages_header {
    width: 100%;
}


.aside_notifications_desktop {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 20px;
    gap: 10px;
}
.notifications_desktop {
    text-decoration: underline;
    color: #6384aa;
}
.bell_mute {
    padding: 35px 15px;
    border-radius: 50%;
    color: #8edafc;
    background-color: #f2fbff;
}
.notifications > p {
    margin: 0;
    line-height: 20px
}
.search_chat {
    height: 60px;
}

.conteiner_chat {
    height: 840px;
    overflow-y: scroll;
    background-color: #ffffff;
}

.chat {
    display: flex;
    gap:10px;
    padding: 10px;
    cursor: pointer;
}

.chat_active{
    background-color: #e9ebeb;
}

.chat_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.message_main {
    display: flex;
   flex-wrap: wrap;
    
}
.messages_view_container {
    width: 100%;
    height: 900px;
    background-image: url(../img/mine.jpg);
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

}

.list_chat {
    
}


.mex {
    max-width: 40%;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color:#ffffff;
    align-self: flex-start;
}

.bar_text {
    width: 100%;
    margin-top: auto;
    height: 100px;

    display: flex;
    align-items: center;
    background-color: #eaeaea;
    color: #6b7376;
}
.bar_text > * {
    padding: 0 25px;
}

.bar_text  input {
    height: 50px;
}


